@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");
/* font-family: "Playpen Sans", cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

/*colorcitos*/
header {
  background: #334f57;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  height: 80px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.nav-link {
  color: #f9fedc;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 10px;
  transition: 0.5s;
  border: 1px solid transparent;
}

.nav-link:hover {
  font-size: 1.5rem;
  color: #f9fedc;
  padding: 8px;
}

.nav-list:hover .nav-link:not(:hover) {
  filter: blur(4px);
}

/*footer general*/
.footer {
  background-color: #334f57;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 30px;
}

.footer-ul {
  width: 100%;
  display: flex;
  padding-top: 0.5rem;
  gap: 6%;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-ul p {
  font-size: 1rem;
  margin: 0;
}

.footer-ul h1 {
  color: #8B9E61;
  font-size: 1rem;
}

.footer-link {
  text-decoration: none;
  color: #f9fedc;
}

.aritos-titulo {
  background-color: #D9C8B0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  gap: 15px;
}
.aritos-titulo h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  color: #1d1212;
}
.aritos-titulo p {
  font-family: "Playpen Sans", cursive;
  font-size: 1.5rem;
  color: #1d1212;
}

/*productos*/
.aritos-products {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "area1 area2 area3" "area4 area5 area6" "area7 area8 area9";
  gap: 40px;
  margin: 4%;
  justify-content: center;
}
.aritos-products .carta-flores {
  grid-area: area1;
}
.aritos-products .chanchito {
  grid-area: area2;
}
.aritos-products .reliquias-kuromis {
  grid-area: area3;
}
.aritos-products .eclipse {
  grid-area: area4;
}
.aritos-products .veneno {
  grid-area: area5;
}
.aritos-products .cruces {
  grid-area: area6;
}
.aritos-products .hachas {
  grid-area: area7;
}
.aritos-products .trex {
  grid-area: area8;
}
.aritos-products .thesun {
  grid-area: area9;
  justify-self: center;
}

.aritos-card {
  background-color: #8B9E61;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}
.aritos-card h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #1d1212;
  font-size: 24px;
  align-self: center;
}
.aritos-card h4 {
  font-family: "Playpen Sans", cursive;
  font-size: 14px;
  color: #1d1212;
  align-self: center;
}

/*titulo*/
.collares-titulo {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  background-color: #D9C8B0;
  margin-top: 10px;
  margin-bottom: 20px;
}
.collares-titulo h1 {
  color: #1d1212;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.5rem;
  padding-top: 2rem;
}

/*products*/
.collares-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.collares-discos {
  background-color: #8B9E61;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 8rem;
  grid-template-areas: "area1 area2 area3 area4" "area6 area6 area5 area5";
  align-items: center;
  justify-items: center;
  padding: 20px;
}
.collares-discos img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.collar-disc-1 {
  grid-area: area1;
}

.collar-disc-2 {
  grid-area: area2;
}

.collar-disc-3 {
  grid-area: area3;
}

.collar-disc-4 {
  grid-area: area4;
}

.collar-disc-5 {
  grid-area: area5;
  color: #1d1212;
  width: 100%;
  padding: 30px;
  font-family: "Playpen Sans", cursive;
}

.collar-disc-6 {
  grid-area: area6;
  color: #1d1212;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*collar products dijes*/
.collares-dijes {
  background-color: #D9C8B0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 10px;
}

.collar-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #8B9E61;
  border-color: #8B9E61;
  border-style: solid;
  border-radius: 5%;
  color: #1d1212;
  align-items: center;
  justify-content: center;
}
.collar-card img {
  width: 18rem;
  height: 18rem;
  border-radius: 5%;
}
.collar-card h2 {
  font-size: 25px;
  font-family: "Playpen Sans", cursive;
}
.collar-card h3 {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: "area1 area2 area3" "area4 area5 area6";
  gap: 30px;
  padding: 60px;
  align-items: center;
  justify-content: center;
}
.information .area6 {
  grid-area: area1;
}
.information .area2 {
  grid-area: area2;
}
.information .area3 {
  grid-area: area3;
}
.information .area4 {
  grid-area: area4;
}
.information .area5 {
  grid-area: area5;
}
.information .area6 {
  grid-area: area6;
}

.info-tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 290px;
  max-height: 380px;
  height: 100%;
  background-color: #8B9E61;
  padding: 15px;
  border-color: #1d1212;
  border-style: double;
  border-radius: 2%;
  color: #f9fedc;
}
.info-tarjeta h2 {
  font-family: "Playpen Sans", cursive;
  font-size: 26px;
}
.info-tarjeta p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}
.info-tarjeta a svg {
  width: 40px;
  height: 40px;
  color: #f9fedc;
  transition: 0.5s;
}
.info-tarjeta a svg:hover {
  transform: scale(1.2);
}

body {
  background-color: #D9C8B0;
}

/*Cuerpo pagina principal arriba*/
.section-main-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  min-height: 90vh;
  max-height: 100%;
}

.main-basic {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 3%;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
}
.main-basic .main-basic-left {
  color: #1d1212;
  max-width: 500px;
  align-self: center;
  justify-self: center;
}
.main-basic .main-title {
  font-family: "Playpen Sans", cursive;
  font-size: 3rem;
}
.main-basic .main-basic-lorem {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: 1.2rem;
  padding-bottom: 10px;
}
.main-basic .main-basic-about {
  font-family: "Playpen Sans", cursive;
  font-size: 1.5rem;
  color: #1d1212;
}
.main-basic img {
  height: 380px;
  width: 380px;
}

/*cuerpo pagina principal abajo*/
.main-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 8%;
  margin-top: 10px;
  padding: 25px;
  width: fit-content;
  background-color: #334f57;
  border-color: #1d1212;
  border-style: groove;
  color: #f9fedc;
  position: absolute;
  bottom: -25%;
}
.main-redes .main-redes h2 {
  font-size: x-large;
  font-family: "Playpen Sans", cursive;
}
.main-redes .main-logos {
  text-decoration: none;
}
.main-redes .main-logos a svg {
  width: 40px;
  height: 40px;
  color: #f9fedc;
  transition: 0.5s;
}
.main-redes .main-logos a svg:hover {
  transform: scale(1.2);
}

/* pagina principal productos*/
/*ARITOS*/
.section-main-products {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-tarjetita {
  background-color: #8B9E61;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  margin-bottom: 30px;
}
.main-tarjetita img {
  max-width: 436px;
  width: 100%;
  max-height: 436px;
  height: 100%;
  justify-self: end;
  border-radius: 10px;
}
.main-tarjetita .main-text {
  color: #1d1212;
  font-family: "Playpen Sans", cursive;
  font-size: 35px;
  align-self: end;
  justify-self: end;
  max-width: 400px;
}
.main-tarjetita .main-products-link {
  color: #1d1212;
  align-self: start;
  justify-self: center;
  font-size: 30px;
}

/*LLAVEROS*/
.llaveros-texto {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 8rem 5rem;
  grid-template-areas: "area1 area2" "area3 area4";
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  width: 100%;
  height: 40%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #1d1212;
  background-color: #D9C8B0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.llaveros-texto .llaveros-area1 {
  grid-area: area1;
  align-self: end;
  justify-self: center;
  font-size: 3.5rem;
}
.llaveros-texto .llaveros-area2 {
  grid-area: area2;
  align-self: end;
  justify-self: start;
  margin-top: 20px;
  width: 95%;
  font-size: 22px;
}
.llaveros-texto .llaveros-area3 {
  grid-area: area3;
  align-self: center;
  justify-self: center;
  padding-top: 20px;
  font-size: 22px;
  width: 90%;
}
.llaveros-texto .llaveros-instagram {
  grid-area: area4;
  align-self: center;
  justify-self: start;
  padding-top: 40px;
  font-size: 22px;
}
.llaveros-texto .llaveros-instagram a {
  color: #1d1212;
  font-size: 20px;
}

.llaveros-card {
  background-color: #8B9E61;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 70% 30%;
  grid-template-areas: "area1 area2 area3 area4" "area5 area5 area6 area6";
  gap: 10px;
  padding: 30px;
  margin: 30px;
}
.llaveros-card img {
  width: 90%;
  height: 90%;
  border-radius: 2%;
}
.llaveros-card .card-a1 {
  grid-area: area1;
}
.llaveros-card .card-a2 {
  grid-area: area2;
}
.llaveros-card .card-a3 {
  grid-area: area3;
}
.llaveros-card .card-a4 {
  grid-area: area4;
}
.llaveros-card .card-text {
  grid-area: area5;
  color: #1d1212;
  font-family: "Playpen Sans", cursive;
  font-size: 22px;
  width: 80%;
  margin-left: 10px;
}
.llaveros-card .card-precio {
  grid-area: area6;
  color: #1d1212;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-self: center;
  align-self: center;
}

.llaveros-inspo {
  display: flex;
  flex-direction: column;
  gap: 15%;
  color: #1d1212;
  font-family: "Playpen Sans", cursive;
  font-size: 22px;
  width: 80%;
  border-radius: 10px;
  background-color: #8B9E61;
  padding: 20px;
  align-items: center;
  margin-left: 10%;
}

.llaveros-inspo a {
  color: #f9fedc;
}

@media (max-width: 960px) {
  .info-tarjeta h2 {
    font-size: 22px;
  }
  .info-tarjeta p {
    font-size: 17px;
  }
}
@media (max-width: 860px) {
  /*header*/
  header {
    height: fit-content;
  }
  header .header-ul {
    align-items: center;
    justify-content: center;
    font-size: medium;
    padding-top: 0.3rem;
    border: 0;
  }
  header .header-link {
    font-size: 15px;
  }
  /*footer chiquito*/
  footer {
    height: fit-content;
  }
  footer .footer-ul {
    align-items: center;
    justify-content: center;
    font-size: medium;
    padding-top: 0.3rem;
  }
  footer .footer-link {
    font-size: 12px;
  }
  /*pagina principal*/
  .main-basic-left {
    width: 100%;
    text-align: center;
  }
  .main-basic {
    font-size: small;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 5%;
  }
  .main-basic img {
    width: 60%;
    height: 60%;
  }
  .main-basic .main-title {
    font-size: 30px;
    padding: 10px;
  }
  .main-basic p {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .main-redes {
    bottom: -18%;
  }
  .main-redes h2 {
    font-size: 18px;
  }
  .main-tarjetita img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 10px;
  }
  .main-tarjetita .main-text {
    font-size: 22px;
  }
  .main-tarjetita .main-products-link {
    font-size: 20px;
  }
  /*pagina llaveros :D*/
  .llaveros-texto {
    padding-left: 0;
    padding-right: 0;
    margin-top: 30px;
  }
  .llaveros-texto .llaveros-area1 {
    font-size: 3rem;
    align-self: center;
  }
  .llaveros-texto .llaveros-area2 {
    font-size: 18px;
    width: 95%;
    justify-self: center;
  }
  .llaveros-texto .llaveros-area3 {
    font-size: 18px;
    width: 70%;
    justify-self: center;
  }
  .llaveros-texto .llaveros-instagram {
    font-size: 18px;
    width: 80%;
    justify-self: center;
  }
  .llaveros-card .card-text {
    font-size: 16px;
    width: 100%;
  }
  .llaveros-card img {
    min-width: 100px;
    min-height: 130px;
  }
  .llaveros-inspo {
    font-size: 22px;
  }
  .llaveros-inspo h2 {
    font-size: 23px;
  }
  /*pagina collares*/
  .collares-discos {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "area1 area2 area5 area5" "area6 area6 area3 area4";
    align-items: center;
    justify-items: center;
    padding: 10px;
    gap: 8px;
  }
  .collares-discos p {
    width: 100%;
    padding: 0;
  }
  .collares-discos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .collares-dijes {
    display: grid;
    justify-content: center;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(4, 1fr);
    grid-area: "area1 area2" "area3 area4" "area5 area6" "area7 area8";
  }
  .collar-card {
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .collar-card img {
    max-width: 288px;
    max-height: 288px;
    min-width: 120px;
    min-height: 180px;
    width: 100%;
    height: 90%;
  }
  .collar-card h2 {
    font-size: 20px;
  }
  .collar-card h3 {
    font-size: 18px;
  }
  /*pagina info*/
  .information {
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-area: "area1 area2" "area3 area4" "area5 area6";
    justify-items: center;
  }
  .info-tarjeta h2 {
    font-size: 20px;
  }
  .info-tarjeta p {
    font-size: 16px;
  }
  /*pagina aritos*/
  .aritos-products {
    margin: 0;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "area1 area2" "area3 area4" "area5 area6" "area7 area8" "area9 area9";
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
  }
  .aritos-card {
    min-width: 160px;
    min-height: 241px;
    height: 100%;
  }
  .aritos-card img {
    min-width: 140px;
    min-height: 140px;
  }
  .aritos-card h3 {
    font-size: 18px;
  }
  .aritos-card h4 {
    font-size: 16spx;
  }
}
@media (max-width: 600px) {
  .llaveros-card {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    width: 100%;
  }
  .llaveros-card img {
    min-width: 100px;
    min-height: 130px;
  }
}
@media (max-width: 510px) {
  .aritos-card {
    padding: 4px;
    max-height: 241px;
  }
  .aritos-card h3 {
    font-size: 15px;
  }
  .aritos-card h4 {
    font-size: 14px;
  }
  .llaveros-texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-items: center;
    align-content: center;
  }
  .llaveros-texto .llaveros-area1 {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  .llaveros-texto .llaveros-area2 {
    font-size: 18px;
    width: 70%;
  }
  .llaveros-texto .llaveros-area3 {
    padding: 0;
    font-size: 18px;
  }
  .llaveros-texto .llaveros-instagram {
    padding: 0;
    font-size: 18px;
    width: max-content;
  }
  .llaveros-inspo {
    font-size: 18px;
  }
  .llaveros-inspo h2 {
    font-size: 20px;
  }
  .information {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 490px) {
  .footer-ul {
    padding-left: 0;
    gap: 10px;
    font-size: 12px;
  }
  .footer-ul h1 {
    font-size: 14px;
  }
  .collares-discos {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10rem 1fr 60px;
    grid-template-areas: "area1 area2" "area5 area5" "area3 area4" "area6 area6";
  }
  .collares-discos img {
    max-height: 240px;
    max-width: 145px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  .collares-discos .collar-disc-5 {
    font-size: 14px;
    width: 80%;
  }
  .collares-dijes {
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .collares-dijes .collar-card {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .collares-dijes .collar-card img {
    min-height: 110px;
    min-width: 120px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .collares-dijes .collar-card h2 {
    font-size: 16px;
  }
  .collares-dijes .collar-card h3 {
    font-size: 14px;
    width: 100%;
    align-self: center;
  }
  .main-redes {
    max-width: 250px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    bottom: -15%;
  }
  .main-redes h2 {
    font-size: 18px;
  }
  .main-tarjetita .main-text {
    font-size: 17px;
  }
  .main-tarjetita:nth-child(1) {
    margin-top: 20%;
  }
  .aritos-titulo p {
    font-size: 1.2rem;
    width: 100%;
  }
  .llaveros-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }
  .llaveros-card .card-text {
    max-width: 50%;
    padding: 5px;
    padding-top: 20px;
  }
  .llaveros-card .card-precio {
    max-width: 45%;
  }
  .llaveros-card img {
    max-width: 115px;
    max-height: 145px;
    object-fit: cover;
    width: 45%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.nav-link {
  color: #f9fedc;
  font-size: 1.3rem;
  text-decoration: none;
}

.menu-hamburguesa {
  display: none;
}

.drawer {
  position: fixed;
  top: 0;
  right: -650px;
  width: 250px;
  height: 100%;
  background-color: #334f57;
  color: #f9fedc;
  overflow-y: auto;
  transition: 0.5s ease all;
  z-index: 1000;
}
.drawer .drawer-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.drawer .drawer-header button {
  background: none;
  border: none;
  color: #f9fedc;
  font-size: 30px;
  cursor: pointer;
}
.drawer ul {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 900;
}

.drawer-open {
  right: 0;
}

.overlay-active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 760px) {
  .navbar {
    display: none;
  }
  .menu-hamburguesa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 20px;
  }
  .menu-hamburguesa .menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.5s;
  }
  .menu-hamburguesa .menu-icon:hover span:nth-child(2), .menu-hamburguesa .menu-icon:hover span:nth-child(3) {
    width: 40px;
  }
  .menu-hamburguesa .menu-icon span {
    display: block;
    height: 3px;
    width: 40px;
    background-color: #f9fedc;
    transition: 0.5s;
  }
  .menu-hamburguesa .menu-icon span:nth-child(2) {
    width: 30px;
    transition: 0.3s;
  }
  .menu-hamburguesa .menu-icon span:nth-child(3) {
    width: 20px;
    transition: 0.4s;
  }
  .drawer {
    display: block;
  }
  .overlay {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
