//base
@import "base/reset";
@import "base/variables";

//components
@import "components/navbar";
@import "components/footer";

// layouts
@import "layouts/aritos";
@import "layouts/collares";
@import "layouts/info";
@import "layouts/inicio";
@import "layouts/llaveros";
@import "layouts/media";