.subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F7EBE8;
    font-size: 24px;
    align-self: center;
}

.info-repeat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 290px;
    height: 360px;
    background-color: $blue-color;
    padding: 15px;
    border-color: $little-black;
    border-style: double;
    border-radius: 2%;
}