
.aritos-titulo{
    background-color: $beige-color;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    padding: 30px;
    margin-bottom: 30px;
    gap: 15px;

    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3rem;
        color: $black-color;
    }
    p{
        font-family: "Playpen Sans", cursive;
        font-size: 1.5rem;
        color: $black-color;
    }
}


/*productos*/
.aritos-products{
    display: grid;
    grid-template-columns:repeat(3,30%);
    grid-template-rows:repeat(2, 50%);
    grid-template-areas: 
     'area1 area2 area3'
     'area4 area5 area6';
    gap: 40px;
    margin: 4%;
}


.carta-flores{
    grid-area: area1;
    background-color: $green-color;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;

    h3{
        @extend .subtitle-h3;
    }
    h4{
        @extend .subtitle-h4;
    }
}

.chanchito{
    grid-area: area2;
    background-color: $green-color;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;

    h3{
        @extend .subtitle-h3;
    }
    h4{
        @extend .subtitle-h4;
    }
}

.reliquias-kuromis{
    grid-area: area3;
    background-color: $green-color;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;

    h3{
        @extend .subtitle-h3;
    }
    h4{
        @extend .subtitle-h4;
    }
}

.eclipse{
    grid-area: area4;
    background-color: $green-color;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    h3{
        @extend .subtitle-h3;
    }
    h4{
        @extend .subtitle-h4;
    }
}


.veneno{
    grid-area: area5;
    background-color: $green-color;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    h3{
        @extend .subtitle-h3;
    }
    h4{
        @extend .subtitle-h4;
    }
}

.cruces{
    grid-area: area6;
    background-color: $green-color;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;

    h3{
        @extend .subtitle-h3;
    }
    h4{
        @extend .subtitle-h4;
    }
}
