/*titulo*/
.collares-titulo{
    width: 100%;
    height: 8rem;
    background-color: #c26023bc;
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: #F7EBE8;
    border-style: ridge;
}   
.collares-titulo h1{
    color: #F7EBE8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    margin-left: 42%;
    padding-top: 2rem;
}
/*products*/
.collares-discos img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.collares-discos{
    background-color: #240d10a6;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr, 1fr ;
    grid-template-areas: 
    'area1 area2 area3 area4'
    'area6 area6 area5 area5';
    align-items: center;
    justify-items: center;
    padding: 20px;
}
.collar-disc-1{
    grid-area: area1;
}
.collar-disc-2{
    grid-area: area2;
}
.collar-disc-3{
    grid-area: area3;
}
.collar-disc-4{
    grid-area: area4;
}
.collar-disc-5{
    grid-area: area5;
    color: #F7EBE8;
    width: 80%;
    padding: 30px;
}
.collar-disc-6{
    grid-area: area6;
    color: #F7EBE8;
}

/*collar products dijes*/

.collares-dijes{
    background-color: #c26023bc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 10px;
}
.collares-dijes h2{
    font-size: 25px;
    align-self: center;
}
.collares-dijes h3{
    font-size: 20px;
    align-self: center;
}

.collar-dragon{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-color: #240d10a6;
    background-color: #240d10a6;
    border-style: solid;
    border-radius: 5%;
    font-family: "Playpen Sans", cursive;
    color: #F7EBE8;
}
.collar-dragon img{
    width: 18rem;
    height: 18rem;
    border-radius: 5%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}


.collar-piece{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-color: #240d10a6;
    background-color: #240d10a6;
    border-style: solid;
    border-radius: 5%;
    font-family: "Playpen Sans", cursive;
    color: #F7EBE8;
}
.collar-piece img{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 5%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.collar-llave{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-color: #240d10a6;
    background-color: #240d10a6;
    border-style: solid;
    border-radius: 5%;
    font-family: "Playpen Sans", cursive;
    color: #F7EBE8;
}
.collar-llave img{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 5%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.collar-tarot{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-color: #240d10a6;
    background-color: #240d10a6;
    border-style: solid;
    border-radius: 5%;
    font-family: "Playpen Sans", cursive;
    color: #F7EBE8;
}
.collar-tarot img{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 5%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}