body{
    background-color: $green-color;
}

/*Cuerpo pagina principal arriba*/

.main-basic {
    display: flex;
    flex-direction: row-reverse;
    background-color: $green-color;
    align-items: center;
    justify-content: center;

    .main-basic-left {
        color: $white-color;
        max-width: 500px;
        align-self: center;
        justify-self: center;
    }
    
    .main-basic p {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-top: 2rem;
    }
    
    .main-basic-about {
        text-decoration: none;
        font-family: "Playpen Sans", cursive;
        font-size: 1.5rem;
        color: $black-color;
    }
    
    .main-basic img {
        height: 400px;
        width: 400px;
        margin-right: 2rem;
        border-radius: 400px;
    }
}

/*cuerpo pagina principal abajito(?)*/

.main-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 8%;
    margin-left: 30%;
    padding: 25px;
    width: fit-content;
    background-color: $blue-color;
    border-color: $black-color;
    border-style: groove;
    color: $white-color;

    .main-redes h2 {
        font-size: x-large;
        font-family: "Playpen Sans", cursive;
    }
    .main-logos {
        text-decoration: none;
        a svg{
            width: 40px;
            height: 40px;
            color: $white-color;
            transition: 0.5s;
            &:hover{
                transform:scale(1.2)
            }
        }
    }
}

/* pagina principal productos*/
/*ARITOS*/
.main-aritos{
    background-color: $blue-color;
    display: grid;
    padding: 30px;
    margin-bottom: 30px;
    grid-template-columns: 60%, 40%;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
      'area2 area1'
      'area3 area1';
  & img{
    width: 436px;
    height: 436px;
    grid-area: area1;
    justify-self: end;
    padding-right: 5%;
  }
  .main-aritos-text{
    grid-area: area2;
    color: $black-color;
    font-family: "Playpen Sans", cursive;
    font-size: 35px;
    align-self: end;
    justify-self: end;
 }
}
.main-aritos-link{
    grid-area: area3;
    color: $black-color;
    align-self: start;
    justify-self: center;
    font-size: 30px;
}
 


/*LLAVEROS*/
.main-llaveros{
    background-color: $blue-color;
    display: grid; 
    padding: 30px;
    margin-bottom: 30px;
    grid-template-columns: 40%, 60%;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
      'area1 area2'
      'area1 area3';
    & img{
        width: 436px;
        height: 436px;
        grid-area: area1;
        justify-self: end;
        padding-left: 5%;
 }
    .main-llaveros-text{
        grid-area: area2;
        color: $black-color;
        font-family: "Playpen Sans", cursive;
        font-size: 35px;
        align-self: end;
        justify-self: end;

    }
}
.main-llaveros-link{
    grid-area: area3;
    color: $black-color;
    align-self: start;
    justify-self: center;
    font-size: 30px;
}



/*COLLARES*/
.main-collares{
    background-color: $blue-color;
    display: grid;
    padding: 30px;
    margin-bottom: 30px;
    grid-template-columns: 60%, 40%;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
      'area2 area1'
      'area3 area1'
}

.main-collares img{
    width: 436px;
    height: 436px;
    object-fit: cover;
    grid-area: area1;
    justify-self: end;
    padding-right: 5%;
    padding-left: 2%;
}
.main-collares-text{
    grid-area: area2;
    font-family: "Playpen Sans", cursive;
    font-size: 35px;
    align-self: end;
    justify-self: end;
}
.main-collares-link{
    grid-area: area3;
    align-self: start;
    justify-self: center;
    font-size: 30px;
    color: $white-color;
}