
@media (max-width: 960px) {
    .info-tarjeta{
        h2{
            font-size: 22px;
        }
        p{
            font-size: 17px;
        }
    }
}
@media (max-width: 860px){
    /*header*/
    header {
        height: fit-content;
        .header-ul {
            align-items: center;
            justify-content: center;
            font-size: medium;
            padding-top: 0.3rem;
            border: 0;
        }
        .header-link{
            font-size: 15px;
        }
    }
    /*footer chiquito*/
    footer {
        height: fit-content;
        .footer-ul {
            align-items: center;
            justify-content: center;
            font-size: medium;
            padding-top: 0.3rem;
        }
        .footer-link{
            font-size: 12px;
        }
    }
    /*pagina principal*/
    .main-basic-left{
        width: 100%;
        text-align: center;
    }
    .main-basic {
        font-size: small;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        margin-top: 0;
        margin-bottom: 5%;
        img{
            width: 60%;
            height: 60%;
        }
        .main-title{
            font-size: 30px;
            padding: 10px;
        }
        p {
            width: 100%;
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    .main-redes{
        bottom: -18%;
        h2 {
        font-size: 18px;
        }
    } 
    .main-tarjetita{
        img{
            width: 70%;
            height: 70%;
            object-fit: contain;
            border-radius: 10px;
        }
        .main-text{
            font-size: 22px;
        }
        .main-products-link{
            font-size: 20px;
        }
    }
    /*pagina llaveros :D*/
    .llaveros-texto{
        padding-left: 0%; 
        padding-right: 0%;
        .llaveros-area1{
            font-size: 30px;
            padding: 0;
            margin: 0;
            align-self: center;
        }
        .llaveros-area2{
            font-size: 18px;
            width: 98%;
        }
        .llaveros-area3{
            font-size: 18px;
            width: 70%;
            justify-self: center;
        }
        .llaveros-instagram{
            font-size: 18px;
            width: 80%;
            justify-self: center;
        }
    }
    .mochileros-text{
        font-size: 16px;
        width: 100%;
    }
    .llaveros-inspo{
        font-size: 22px;
        h2{
            font-size: 23px;
        }
    }
    /*pagina collares*/
    .collares-discos{
        display: grid;
        grid-template-columns: repeat(4, 22%);
        grid-template-rows: 1fr, 1fr ;
        grid-template-areas: 
        'area1 area2 area5 area5'
        'area6 area6 area3 area4';
        align-items: center;
        justify-items: center;
        padding: 10px;
        gap: 8px;
        p{
            width: 100%;
            padding: 0;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .collares-dijes{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(4, 1fr);
      grid-area:
      "area1 area2"
      "area3 area4"
      "area5 area6"
      "area7 area8";
    }
    .collar-card{
      width: 90%;
      height: 100%;
      align-items: center;
      justify-content: center;
      img{
        max-width:288px ;
        max-height: 288px;
        min-width: 140px;
        min-height: 200px;
        width: 100%;
        height: 100%;
      }
      h2{
        font-size: 20px;
      }
      h3{
        font-size: 18px;
      }
    }
    /*pagina info*/
    .information{
        gap: 20px;
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-area: 
        "area1 area2"
        "area3 area4"
        "area5 area6";
        justify-items: center;
    }
    .info-tarjeta{
        h2{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
    }
    /*pagina aritos*/
    .aritos-products{
     grid-template-columns: repeat(2, 40%);
     grid-template-rows: repeat(5, 1fr);
     grid-template-areas: 
     "area1 area2"
     "area3 area4"
     "area5 area6"
     "area7 area8"
     "area9 none";
     gap: 20px;
     justify-content: center;
     align-items: center;
    }
    .aritos-card{
        min-width: 160px;
        min-height: 241px;
        height: 100%;
        img{
            min-width: 140px;
            min-height: 140px;
        }
        h3{
         font-size: 18px;
        }
        h4{
            font-size: 16spx;
        }
    }
}



